<a href="https://colab.research.google.com/github/KelvynAmaral/dataSUS-analise-e-exploracao-de-dados/blob/main/Produ%C3%A7%C3%B5o_Hospitalar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Analisando dados de produção da Saúde

In [1]:
import pandas as pd

In [17]:
dados = pd.read_csv("/content/drive/MyDrive/PÓS DATA ANALYTICS/ARQUIVOS/AULA 1/datasus-ano-mes-processamentos-uf.csv",
                    encoding = "ISO-8859-1", skiprows=3, skipfooter=12, sep=";", thousands=".", decimal=",")

<ipython-input-17-c64f034ae465>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  dados = pd.read_csv("/content/drive/MyDrive/PÓS DATA ANALYTICS/ARQUIVOS/AULA 1/datasus-ano-mes-processamentos-uf.csv",

In [18]:
dados.head()

,Unidade da Federação,2008/Jan,2008/Fev,2008/Mar,2008/Abr,2008/Mai,2008/Jun,2008/Jul,2008/Ago,2008/Set,...,2023/Out,2023/Nov,2023/Dez,2024/Jan,2024/Fev,2024/Mar,2024/Abr,2024/Mai,2024/Jun,Total
0,11 Rondônia,"1,388,528.39","2,931,283.42","1,541,682.52","1,525,314.96","1,645,953.84","1,406,150.68","3,065,279.01","3,231,494.61","3,117,178.63",...,"12,090,863.69","11,561,002.61","10,250,749.74","12,809,153.73","11,368,435.62","12,578,152.13","11,559,993.57","11,828,541.38","1,968,819.10","1,446,704,922.33"
1,12 Acre,"902,416.00","1,497,206.26","1,794,028.48","1,730,469.42","1,819,443.92","1,828,496.00","2,511,754.59","2,089,107.14","2,275,708.53",...,"4,150,926.64","5,712,687.05","3,503,827.09","4,308,072.76","4,092,197.71","4,819,515.84","5,560,094.15","4,374,108.09","4,484,207.99","615,416,604.48"
2,13 Amazonas,"4,735,529.42","7,118,990.57","8,196,635.49","8,259,378.42","7,831,399.90","8,477,273.62","9,368,858.72","9,352,532.70","9,363,099.35",...,"19,769,519.55","18,947,549.58","14,854,015.59","16,457,165.86","20,939,458.81","23,350,848.79","23,226,650.33","22,959,304.30","21,291,999.69","2,728,085,655.80"
3,14 Roraima,"657,889.53","777,939.31","718,688.03","839,994.39","862,347.96","832,440.66","996,693.09","894,271.18","910,424.17",...,"2,443,674.72","3,795,465.55","2,944,423.63","2,983,752.53","3,160,891.68","2,654,012.71","2,321,224.13","2,548,379.72","2,598,375.67","467,066,312.33"
4,15 Pará,"18,864,744.11","19,553,758.20","21,937,342.70","20,842,829.69","23,249,952.88","23,240,687.56","24,002,223.56","23,341,218.03","25,172,261.32",...,"50,894,073.84","55,893,962.12","56,122,128.80","48,831,607.14","50,654,355.78","53,972,497.56","53,473,198.11","52,370,302.43","48,365,091.56","6,589,319,524.97"

In [19]:
dados.tail()

,Unidade da Federação,2008/Jan,2008/Fev,2008/Mar,2008/Abr,2008/Mai,2008/Jun,2008/Jul,2008/Ago,2008/Set,...,2023/Out,2023/Nov,2023/Dez,2024/Jan,2024/Fev,2024/Mar,2024/Abr,2024/Mai,2024/Jun,Total
22,43 Rio Grande do Sul,"30,931,325.46","57,363,420.01","51,547,794.07","56,673,338.49","48,397,733.07","52,413,429.62","56,636,376.98","56,113,054.70","55,356,224.30",...,"122,327,620.35","114,962,110.61","114,632,478.21","122,249,263.60","112,440,954.80","120,297,780.63","123,200,579.15","115,913,740.10","122,331,109.22","17,346,088,601.04"
23,50 Mato Grosso do Sul,"5,377,392.11","7,002,472.61","8,423,933.19","8,797,487.68","9,770,421.80","10,905,392.18","10,249,299.82","9,671,553.45","10,218,511.05",...,"26,868,302.10","27,575,792.21","27,007,266.84","28,283,399.21","24,406,563.03","25,321,611.85","27,086,430.92","24,817,016.14","25,416,880.70","3,351,285,216.96"
24,51 Mato Grosso,"4,795,299.01","8,684,882.23","7,886,243.14","8,794,109.79","9,231,645.40","10,221,763.77","9,163,314.28","9,243,148.81","9,052,354.89",...,"22,623,239.98","22,880,977.91","20,970,243.38","23,647,447.92","22,839,415.59","24,624,080.72","25,324,705.26","24,738,774.52","23,526,865.98","3,113,093,916.54"
25,52 Goiás,"15,310,637.29","22,258,668.68","21,442,515.75","20,921,212.45","21,615,970.67","18,270,043.87","20,540,517.13","20,650,730.67","20,868,443.56",...,"50,845,227.10","48,253,663.88","51,461,976.80","51,470,148.68","47,268,499.05","54,902,006.76","54,941,275.01","54,127,497.75","50,089,909.95","6,950,181,355.98"
26,53 Distrito Federal,"4,745,919.19","7,632,480.67","9,647,203.26","11,098,732.99","12,891,719.72","12,850,125.67","12,565,646.74","13,710,857.89","13,165,106.20",...,"29,140,330.80","30,810,835.09","29,465,293.81","31,878,001.55","29,496,708.95","32,500,381.42","34,009,043.94","34,271,625.13","32,138,444.46","3,705,443,213.86"

In [20]:
dados.mean(numeric_only=True)

2008/Jan      15,126,846.64
2008/Fev      22,710,158.12
2008/Mar      24,594,187.35
2008/Abr      25,431,957.83
2008/Mai      26,511,245.91
                 ...
2024/Mar      70,797,784.92
2024/Abr      72,218,520.27
2024/Mai      72,584,793.40
2024/Jun      70,181,204.76
Total      8,933,463,602.22
Length: 198, dtype: float64

In [21]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Columns: 200 entries, Unidade da Federação to Total
dtypes: float64(198), object(2)
memory usage: 42.3+ KB

In [22]:
pd.options.display.float_format = '{:,.2f}'.format

In [23]:
dados.mean(numeric_only=True)

2008/Jan      15,126,846.64
2008/Fev      22,710,158.12
2008/Mar      24,594,187.35
2008/Abr      25,431,957.83
2008/Mai      26,511,245.91
                 ...
2024/Mar      70,797,784.92
2024/Abr      72,218,520.27
2024/Mai      72,584,793.40
2024/Jun      70,181,204.76
Total      8,933,463,602.22
Length: 198, dtype: float64

In [36]:
coluna_mais_recente = dados.columns[-2]

In [37]:
dados_mais_recente = dados[[coluna_mais_recente]]

In [38]:
print(dados_mais_recente.head())

       2024/Jun
0  1,968,819.10
1  4,484,207.99
2 21,291,999.69
3  2,598,375.67
4 48,365,091.56

In [39]:
coluna_mais_recente2 = dados[[dados.columns[-2]]]

In [40]:
print(coluna_mais_recente2.head())

       2024/Jun
0  1,968,819.10
1  4,484,207.99
2 21,291,999.69
3  2,598,375.67
4 48,365,091.56

In [42]:
print(dados[[dados.columns[-2]]].mean(numeric_only=True))

2024/Jun   70,181,204.76
dtype: float64